---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import MainContent from "../components/MainContent.astro";
import AboutMe from "../components/AboutMe.astro";
import Projects from "../components/Projects.astro";
import SoftSkills from "../components/SoftSkills.astro";
import Skills from "../components/Skills.astro";
---

<Layout title="Pablo Abreu.">
  <main>
    <Navbar />
    <MainContent />
    <AboutMe />
    <Projects />
    <SoftSkills />
    <Skills />
    <Footer />
  </main>
</Layout>
