---

---

<div class="container mx-auto mt-10 p-5">
  <div class="flex items-center">
    <h2 class="mr-4 text-xl md:text-4xl text-gray-500 font-bold">
      <span class="text-red-400">&lt;h2&gt;</span>
      <span class="text-white p-0">Sobre mi</span>
      <span class="text-red-400">&lt;/h2&gt;</span>
    </h2>
    <hr class="bg-gray-600 h-0.5 flex-grow" />
  </div>
  <div class="grid grid-cols-12">
    <div class="col-span-12 md:col-span-7 flex flex-col mt-3">
      <div class="text-base md:text-xl text-white">
        Como contador público convertido en desarrollador web, fusiono mi
        experiencia en gestión empresarial con mi pasión por la programación.
        Esta combinación única de habilidades me permite abordar desafíos desde
        diversas perspectivas y ofrecer soluciones innovadoras y efectivas. Con
        un enfoque analítico y una mentalidad de aprendizaje continuo, estoy
        comprometido con la excelencia en cada proyecto en el que me involucro.
      </div>
      <div class="text-base md:text-xl text-white mt-3">
        Me apasiona trabajar en equipo y disfruto socializar mientras colaboro
        en proyectos creativos. Estoy ansioso por embarcarme en una nueva
        experiencia laboral donde pueda aplicar mis habilidades y contribuir al
        éxito del equipo y de la organización.
      </div>
    </div>

    <div
      class="col-span-12 mt-14 md:col-span-5 md:mt-0 flex flex-col items-center justify-center"
    >
      <article class="relative">
        <img src="/img/IMG_0836-removebg-preview.png" alt="" />
        <img src="/img/IMG_0808-removebg-preview.png" alt="" />
      </article>
    </div>
  </div>
  <div id="proyectos">
    <p></p>
  </div>
</div>

<style>
  .rotate-hover {
    transition: transform 0.1s ease;
  }

  .rotate-hover:hover {
    transform: rotate(360deg) scale(2);
  }

  article {
    width: 250px;
    transition: all 0.3s ease;
  }

  article img:first-child {
    box-shadow: 0 60px 60px -60px rgb(150, 150, 212);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
  }

  article img:last-child {
    position: absolute;

    height: 250px;
    object-fit: cover;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: 0.3s ease;
    opacity: 0;
  }

  article:hover {
    transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
  }

  article::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      to bottom,
      transparent 10%,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(11, 33, 83, 0.45) 95%
    );

    opacity: 0;
    transition: all 0.3s ease;
  }

  article:hover::before {
    opacity: 1;
  }

  article:hover img:last-child {
    opacity: 1;
    transform: translateY(10%);
  }
</style>
