---
import { Icon } from "astro-icon/components";
---

<!-- <footer class="bg-gray-800 text-white py-6 mt-5">
  <div class="container mx-auto px-4">
    <div class="flex justify-between items-center">
      <p class="text-sm">
        &copy; 2024 Pablo Abreu. Todos los derechos reservados.
      </p>
      <ul class="flex space-x-4">
        <li><a href="#" class="hover:text-gray-300">Inicio</a></li>
        <li><a href="#" class="hover:text-gray-300">Acerca de</a></li>
        <li><a href="#" class="hover:text-gray-300">Servicios</a></li>
      </ul>
    </div>
  </div>
</footer> -->
<footer
  class="w-full p-8 bg-gray-800 flex items-center justify-center flex-col"
>
  <div class="mb-5 mt-4">
    <a
      href="mailto:pablo.abreumin@gmail.com?subject=¡Hola!&body=Escribe aquí tu mensaje..."
      class="bg-red-700 hover:bg-red-900 text-white font-bold py-2 px-4 rounded inline-flex items-center transition duration-300 ease-in-out transform hover:-translate-y-1"
    >
      <span>Contactame</span>
    </a>
  </div>
  <div
    class="social-icons-container flex items-center justify-center flex-wrap mb-4"
  >
    <a
      href="social-icon w-12 h-12 m-4 rounded-full border border-solid border-white hover:invert"
      >g</a
    >
    <a
      href="social-icon w-12 h-12 m-4 rounded-full border border-solid border-white hover:invert"
      >f</a
    >
    <a
      href="social-icon w-12 h-12 m-4 rounded-full border border-solid border-white hover:invert"
      >g</a
    >
    <a
      href="social-icon w-12 h-12 m-4 rounded-full border border-solid border-white hover:invert"
      >f</a
    >
  </div>
  <ul
    class="footer-menu-container text-gray-50 text-lg list-none flex items-center justify-center flex-wrap mb-4"
  >
    <li class="menu-item my-4 mx-6 opacity-60 hover:opacity-100 cursor-pointer">
      Legal
    </li>
    <li class="menu-item my-4 mx-6 opacity-60 hover:opacity-100 cursor-pointer">
      Cookies
    </li>
    <li class="menu-item my-4 mx-6 opacity-60 hover:opacity-100 cursor-pointer">
      Privacy
    </li>
    <li class="menu-item my-4 mx-6 opacity-60 hover:opacity-100 cursor-pointer">
      Shipping
    </li>
    <li class="menu-item my-4 mx-6 opacity-60 hover:opacity-100 cursor-pointer">
      Refounds
    </li>
  </ul>
  <span class="copyright text-gray-50 opacity-30 text-center"
    >&copy;2024, Pablo Abreu. Todos los derechos reservados.</span
  >
</footer>

<style>
  .footer-icon {
    transition: transform 0.3s ease-in-out;
  }

  .footer-icon:hover {
    transform: translateY(-3px);
  }
</style>
