---
import { Icon } from "astro-icon/components";
---

<footer
  class="w-full pb-4 bg-gray-800 flex items-center justify-center flex-col"
  id="contacto"
>
  <div class="mb-5 mt-4">
    <a
      href="mailto:pablo.abreumin@gmail.com?subject=¡Hola!&body=Escribe aquí tu mensaje..."
      class="bg-blue-700 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded inline-flex items-center transition duration-300 ease-in-out transform hover:-translate-y-1"
    >
      <span>Contactame</span>
    </a>
  </div>
  <div
    class="social-icons-container flex items-center justify-center flex-wrap mb-4"
  >
    <a
      href="social-icon w-12 h-12 m-4 rounded-full border border-solid border-white hover:invert"
      >g</a
    >
    <a
      href="social-icon w-12 h-12 m-4 rounded-full border border-solid border-white hover:invert"
      >f</a
    >
    <a
      href="social-icon w-12 h-12 m-4 rounded-full border border-solid border-white hover:invert"
      >g</a
    >
    <a
      href="social-icon w-12 h-12 m-4 rounded-full border border-solid border-white hover:invert"
      >f</a
    >
  </div>
  <ul
    class="footer-menu-container text-gray-50 text-lg list-none flex items-center justify-center flex-wrap mb-4"
  >
    <li class="menu-item my-4 mx-6 opacity-60 hover:opacity-100 cursor-pointer">
      Inicio
    </li>
    <li class="menu-item my-4 mx-6 opacity-60 hover:opacity-100 cursor-pointer">
      Sobre mi
    </li>
    <li class="menu-item my-4 mx-6 opacity-60 hover:opacity-100 cursor-pointer">
      Proyectos
    </li>
    <li class="menu-item my-4 mx-6 opacity-60 hover:opacity-100 cursor-pointer">
      Habilidades
    </li>
    <li class="menu-item my-4 mx-6 opacity-60 hover:opacity-100 cursor-pointer">
      Contacto
    </li>
  </ul>
  <span class="copyright text-gray-50 opacity-30 text-center"
    >&copy;2024, Pablo Abreu. Todos los derechos reservados.</span
  >
</footer>

<style>
  .footer-icon {
    transition: transform 0.3s ease-in-out;
  }

  .footer-icon:hover {
    transform: translateY(-3px);
  }
</style>
