---
import { Icon } from "astro-icon/components";
---

<footer
  class="w-full pb-4 bg-gray-800 flex items-center justify-center flex-col"
  id="contacto"
>
  <div class="mb-2 mt-5">
    <a
      href="mailto:pablo.abreumin@gmail.com?subject=¡Hola!&body=Escribe aquí tu mensaje..."
      class="bg-blue-700 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded inline-flex items-center transition duration-300 ease-in-out transform hover:-translate-y-1"
    >
      <span>Contactame</span>
    </a>
  </div>
  <div
    class="social-icons-container flex items-center justify-center flex-wrap mb-2"
  >
    <a href="https://github.com/PabloAbreuMinasian" target="_blank">
      <Icon name="github" class="w-8 h-8 m-4 hover:invert" /></a
    >
    <a href="https://twitter.com/PabloAbreumin" target="_blank">
      <Icon name="x" class="w-8 h-8 m-4 hover:invert" /></a
    >
    <a
      href="https://www.linkedin.com/in/pablo-abreu-321650231/"
      target="_blank"
    >
      <Icon name="linkedin" class="w-8 h-8 m-4 hover:invert" /></a
    >
  </div>
  <ul
    class="footer-menu-container text-gray-50 text-lg list-none flex items-center justify-center flex-wrap mb-4"
  >
    <li class="menu-item my-2 mx-6 opacity-60 hover:opacity-100 cursor-pointer">
      <a href="#"> Inicio</a>
    </li>
    <li class="menu-item my-2 mx-6 opacity-60 hover:opacity-100 cursor-pointer">
      <a href="#sobre-mi"> Sobre mi</a>
    </li>
    <li class="menu-item my-2 mx-6 opacity-60 hover:opacity-100 cursor-pointer">
      <a href="#proyectos"> Proyectos</a>
    </li>
    <li class="menu-item my-2 mx-6 opacity-60 hover:opacity-100 cursor-pointer">
      <a href="#habilidades-blandas">Habilidades</a>
    </li>
    <li class="menu-item my-2 mx-6 opacity-60 hover:opacity-100 cursor-pointer">
      <a href="#contacto"> Contacto</a>
    </li>
  </ul>
  <span class="copyright text-gray-50 opacity-30 text-center"
    >&copy;2024, Pablo Abreu. Todos los derechos reservados.</span
  >
</footer>

<style>
  .footer-icon {
    transition: transform 0.3s ease-in-out;
  }

  .footer-icon:hover {
    transform: translateY(-3px);
  }
</style>
