---

---

<div class="container mx-auto mt-10 p-5">
  <div class="flex items-center">
    <hr class="bg-gray-600 h-0.5 flex-grow" />
    <h2 class="ml-4 text-base md:text-4xl text-gray-500 font-bold">
      <span class="text-yellow-500">&lt;span&gt;</span>
      <span class="text-white p-0">Proyectos</span>
      <span class="text-yellow-500">&lt;/span&gt;</span>
    </h2>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-10 mt-5">
    <div class="card relative w-full h-80">
      <div
        class="face rounded-xl overflow-hidden duration-500 absolute w-full h-full front"
      >
        <img
          src="/img/Captura de pantalla 2024-03-26 a la(s) 15.54.53.png"
          alt="Equal Vision"
          class="object-cover w-full h-full absolute"
        />
        <h3
          class="absolute bottom-0 w-full h-11 leading-10 text-white text-center background-title-img"
        >
          Equal Vision
        </h3>
      </div>
      <div
        class="face rounded-xl overflow-hidden duration-500 absolute w-full h-full back bg-blue-900 p-4 text-white flex flex-col justify-between text-center"
      >
        <h3 class="text-3xl mt-5 tracking-wider">Equal Vision</h3>
        <p class="text-sm md:text-xs lg:text-sm">
          Discográfica dedicada a la venta de vinilos, discos y cassettes.Los
          usuarios pueden iniciar sesión para realizar compras, mientras que los
          administradores tienen acceso a estadísticas y datos relevantes del
          negocio.
        </p>
        <div class="link">
          <a href="">Ver sitio</a>
        </div>
      </div>
    </div>
    <div class="card relative w-full h-80">
      <div
        class="face rounded-xl overflow-hidden duration-500 absolute w-full h-full front"
      >
        <img
          src="/img/Captura de pantalla 2024-03-26 a la(s) 15.55.43.png"
          alt="Hackflix"
          class="object-cover w-full h-full absolute"
        />
        <h3
          class="absolute bottom-0 w-full h-11 leading-10 text-white text-center background-title-img"
        >
          Hackflix
        </h3>
      </div>
      <div
        class="face rounded-xl overflow-hidden duration-500 absolute w-full h-full back bg-blue-900 p-4 text-white flex flex-col justify-between text-center"
      >
        <h3 class="text-3xl mt-5 tracking-wider">Hackflix</h3>
        <p class="text-sm md:text-xs lg:text-sm">
          Hackflix es una plataforma de streaming de películas. Inspirada en el
          estilo de Netflix, nuestra plataforma te permite buscar películas por
          nombre y filtrarlas por estrellas para encontrar fácilmente lo que
          quieres ver.
        </p>
        <div class="link">
          <a href="">Ver sitio</a>
        </div>
      </div>
    </div>
    <div class="card relative w-full h-80">
      <div
        class="face rounded-xl overflow-hidden duration-500 absolute w-full h-full front"
      >
        <img
          src="/img/Ejemplo.jpeg"
          alt="Vacio"
          class="object-cover w-full h-full absolute"
        />
        <h3
          class="absolute bottom-0 w-full h-11 leading-10 text-white text-center background-title-img"
        >
          Vacio
        </h3>
      </div>
      <div
        class="face rounded-xl overflow-hidden duration-500 absolute w-full h-full back bg-blue-900 p-4 text-white flex flex-col justify-between text-center"
      >
        <h3 class="text-3xl mt-5 tracking-wider">Vacio</h3>
        <p class="text-sm md:text-xs lg:text-sm">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia,
          quibusdam. Facilis ex voluptatem, officiis nihil saepe quisquam quos
          quasi qui.
        </p>
        <div class="link">
          <a href="">Ver sitio</a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-white p-3 mt-5 text-center">
    <p class="text-lg">
      Navega a través de mis proyectos destacados, cada uno diseñado con pasión
      y dedicación para abordar desafíos específicos y ofrecer soluciones
      creativas. Desde aplicaciones web interactivas hasta proyectos de código
      abierto en GitHub, cada uno representa un hito en mi viaje de desarrollo.
      Descubre cómo mis habilidades y experiencia se combinan para crear
      experiencias digitales memorables y funcionales.
    </p>
  </div>
  <div id="habilidades-blandas">
    <p></p>
  </div>
</div>

<style>
  .face {
    backface-visibility: hidden;
  }

  .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 10px 50px #ffffff38;
  }

  .background-title-img {
    background: rgba(0, 0, 0, 0.815);
  }

  .back {
    transform: perspective(600px) rotateY(180deg);
    box-shadow: 0 10px 50px #2054a8;
  }

  .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
  }

  .card .back p {
    letter-spacing: 1px;
  }

  .card:hover .front {
    transform: perspective(600px) rotateY(180deg);
  }

  .card:hover .back {
    transform: perspective(600px) rotateY(360deg);
  }
</style>
